/*=====SERVICES========*/

.services{
    &__container{
        gap: 2.5rem;
    }
    &__data{
        text-align: center;
        display: grid;
        row-gap:1rem ;
        padding: 2rem 1.5rem;
        box-shadow:0 2px 6px hsla(var(--hue), 100%, 15%, 0.15);
        border-radius: 1rem;
        a{
            color: var(--title-color);
            font-weight: var(--font-semi-bold);
        }
    }
    &__img{
        width: 135px;
        margin-bottom: var(--mb-0-5);
        justify-self: center;
    }
}